<table mat-table #produitMatTable [dataSource]="vehicules" class="mat-elevation-z8 margin">
 

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="constructeur">
      <th mat-header-cell *matHeaderCellDef> Constructeur </th>
      <td mat-cell *matCellDef="let element"> {{element.constructeur}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="origine">
      <th mat-header-cell *matHeaderCellDef> Origine </th>
      <td mat-cell *matCellDef="let element"> {{element.origine}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef> Prix </th>
        <td mat-cell *matCellDef="let element"> {{element.prix}} </td>
    </ng-container>

    <ng-container matColumnDef="chevaux">
        <th mat-header-cell *matHeaderCellDef> Chevaux </th>
        <td mat-cell *matCellDef="let element"> {{element.chevaux}} </td>
    </ng-container>

    <ng-container matColumnDef="torque">
        <th mat-header-cell *matHeaderCellDef> Torque </th>
        <td mat-cell *matCellDef="let element"> {{element.torque}} </td>
    </ng-container>

    <ng-container matColumnDef="date_production">
        <th mat-header-cell *matHeaderCellDef> Date production </th>
        <td mat-cell *matCellDef="let element"> {{element.date_production}} </td>
    </ng-container>

    <ng-container matColumnDef="accidente">
        <th mat-header-cell *matHeaderCellDef> Accidenté </th>
        <td mat-cell *matCellDef="let element"> {{element.accidente}} </td>
    </ng-container>

    <ng-container matColumnDef="financement">
        <th mat-header-cell *matHeaderCellDef> Financement </th>
        <td mat-cell *matCellDef="let element"> {{element.financement}} </td>
    </ng-container>

    <ng-container matColumnDef="liste_traitement">
        <th mat-header-cell *matHeaderCellDef> Liste traitement </th>
        <td mat-cell *matCellDef="let element"><span *ngFor="let traitement of element.liste_traitement">/{{traitement.nom_traitement}}: {{traitement.prix}} $/</span> </td>
    </ng-container>

    <ng-container matColumnDef="liste_proprietaire">
        <th mat-header-cell *matHeaderCellDef> Liste propriétaire </th>
        <td mat-cell *matCellDef="let element"><span *ngFor="let proprietaire of element.liste_proprietaire">{{proprietaire.prenom}} {{proprietaire.nom}}: {{proprietaire.telephone}}</span> </td>
    </ng-container>
     
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>